@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');

.keyfieldContainer {
  width: 833px; /*tempory*/
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  font-family: 'Markazi Text', serif;
  font-size: 3em;
  margin: 40px 0;
  padding: 0 24px;
  border-radius: 5px;
  border: 2px rgba(0, 0, 0, 0.08) solid;
}

@keyframes cursor {
  0%,50% {border-left-color: rgba(0, 0, 0, 1)}
  51%,100% {border-left-color: rgba(0, 0, 0, 0)}
}

.keyfieldContainer span {
  color: lightgrey;
  border-left: 1px black solid;
  animation-name: cursor;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
